main {
  display:flex;
  justify-content: center;
  position:relative;

  &.loading {

    .pokemonDetail {
      visibility:hidden;
    }

    &:after {
      background:#000;
      content:'';
      opacity:.25;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
  }
}

.pokemonDetail {
  visibility:visible;
}

.pokemonList {

  input[type=radio] {
    display:none;
  }

  label {
    margin: .5em 0;
    padding: 1em 2em;
    background:#eee;
    border:#ccc;
    border-radius: 10px;
    cursor:pointer;
    display:block;
    width:200px;

    &:hover {
      background:#000;
      color:#eee;
    }
  }

}