main {
  display:flex;
  justify-content: center;
  position:relative;
}

.pokemonDetail {
  margin-left:2em;
}

.pokemonList {

  input[type=radio] {
    display:none;
  }

  label {
    margin: .5em 0;
    padding: 1em 2em;
    background:#eee;
    border:#ccc;
    border-radius: 10px;
    cursor:pointer;
    display:block;
    width:200px;

    &:hover {
      background:#000;
      color:#eee;
    }
  }

}