@import './lib/vars';
@import '../component/dashboard-container/dashboard-container';
@import '../component/note-create-form/note-create-form';
@import '../component/note-item/note-item';
@import '../component/note-list/note-list';

body {
  font-family: $font-primary;
  background: $primary;
  width: 95%;
}