body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  background-color: #222;
  padding: 20px 1em 0px 1em;
  color: white;

  h1 {
    padding-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li:hover {
  background-color: white;
}

nav ul li:hover a {
  color: black;
}

#main-content {
  padding: 1em;
}

.note-list ul {
  padding-left: 0;
}

.note-list ul li {
  list-style-position:inside
}

#create-note-form input {
  margin-left: 1em;
}

#create-note-form label {
  display: block;
  padding-bottom: 5px;
}

.note .title, .note .content {
  display: inline;
}